HELP.md
build/
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### FILES ###
*.txt
*.jar

### Gradle ###
.gradle

### Logs ###
*.log

### Конспекты и файлы ###
Shpora.java
StudyJava.java
credentials.properties

java_pid33870.hprof