HELP.md
build/
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Gradle ###
.gradle

### Logs ###
*.log

### Конспекты ###
Shpora.java
BaseJava.java
StudyJava.java


java_pid33870.hprof