HELP.md
build/
!**/src/test/**
demoqatests/
githubtests/
parametrizedtests/
components/
alluretests/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Gradle ###
.gradle

### Logs ###
*.log

### Конспекты ###
Shpora.java
BaseJava.java
StudyJava.java
LanguagesForSteppik.java
RegistrationFormTestData.java
img1.jpg
img2.png
img3.jpg
StepikPage.java
RegistrationFormPage.java


java_pid33870.hprof